@import "./color_schemes/light.scss";
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&family=Junge&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// white
// grey-dk-300
// grey-dk-100
// purple-000
// grey-lt-000
// #f7f7f7
// purple-100
// grey-dk-000

$body-background-color: #FDFCF7 ;
$body-heading-color: #c1121f;
// $body-text-color: #fff3ec;
$link-color: #0d1321;

$nav-child-link-color: #3d405b;
$sidebar-color: #FAF8EF;
// $base-button-color: #f7f7f7 ;
// $btn-primary-color: $purple-100 ;
// $code-background-color: $grey-lt-000 ;
// $feedback-color: darken($sidebar-color, 3%) ;
$table-background-color: #f4f1de;
// $search-background-color: #EAE0D5 ;
// $search-result-preview-color: $grey-dk-000 ;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Caudex';
}

body {
    font-family: 'Noto Serif', serif !important;
}