@import "./color_schemes/light.scss";

// white
// grey-dk-300
// grey-dk-100
// purple-000
// grey-lt-000
// #f7f7f7
// purple-100
// grey-dk-000

// $body-background-color: #E0FBFC ;
$body-heading-color: #81b29a;
// $body-text-color: #fff3ec;
$link-color: #ee6c4d;
$nav-child-link-color: #3d405b;
// $sidebar-color: #98C1D9;
// $base-button-color: #f7f7f7 ;
// $btn-primary-color: $purple-100 ;
// $code-background-color: $grey-lt-000 ;
// $feedback-color: darken($sidebar-color, 3%) ;
$table-background-color: #f4f1de;
// $search-background-color: #EAE0D5 ;
// $search-result-preview-color: $grey-dk-000 ;
